[Unit]
Description=Sysproxy Service
After=eip_fwl.service

[Service]
ExecStart=/usr/bin/sysmgr_proxy
ExecStartPre=/bin/sh -c 'mkdir -p /etc/ax-firmware-version'
Restart=always
StandardOutput=tty
TTYPath=/dev/ttyPS3

[Install]
WantedBy=multi-user.target
